<form method="post" class="investor-details-read" action="{{ paths.capitalInvestment.investorOpportunityDetails }}">
  <input type="text" type="text" name="edit" value="true" style="display: none" />
  <button type="submit" class="govuk-button">Edit</button>
</form>

<ul class="app-task-list__items">

    <li class="app-task-list__item">
      <span class="app-task-list__task-name" aria-describedby="eligibility-completed">
        Country of origin
      </span>
      <span class="app-task-list__task-completed">
       {{ fields.project.countryOfOrigin }}
      </span>
    </li>

    <li class="app-task-list__item">
      <span class="app-task-list__task-name" aria-describedby="read-declaration-completed">
        Investor / entity name
      </span>
      <span class="app-task-list__task-completed">
        {{ fields.project.company }}
      </span>
    </li>

    <li class="app-task-list__item">

      <span class="app-task-list__task-name" aria-describedby="read-declaration-completed">
        Investor type
      </span>
      {% if fields.investorDetails.investorType %}
        <span class="app-task-list__task-completed">
          {{ fields.investorDetails.investorType }}
        </span>
      {% else %}
        <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">REQUIRED</strong>
      {% endif %}
    </li>

    <li class="app-task-list__item">
        <span class="app-task-list__task-name" aria-describedby="read-declaration-completed">
            Assets under management/investable capital
        </span>
        {% if fields.investorDetails.assetsUnderManagement %}
          <span class="app-task-list__task-completed">
            {{ fields.investorDetails.assetsUnderManagement }}
          </span>
        {% else %}
          <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">REQUIRED</strong>
        {% endif %}
    </li>

    <li class="app-task-list__item">
        <span class="app-task-list__task-name" aria-describedby="read-declaration-completed">
            Geographical distribution of assets / capital (incl. % UK)
        </span>
        {% if fields.investorDetails.geographicalDistributionOfAssets %}
          <span class="app-task-list__task-completed">
            {{ fields.investorDetails.geographicalDistributionOfAssets }}
          </span>
        {% else %}
          <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">REQUIRED</strong>
        {% endif %}
    </li>

    <li class="app-task-list__item">
        <span class="app-task-list__task-name" aria-describedby="read-declaration-completed">
            Overall relationship health
        </span>
        {% if fields.investorDetails.overallRelationshipHealth %}
          <span class="app-task-list__task-completed">
            {{ fields.investorDetails.overallRelationshipHealth }}
          </span>
        {% else %}
          <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">REQUIRED</strong>
        {% endif %}
    </li>

    <li class="app-task-list__item">
        <span class="app-task-list__task-name" aria-describedby="read-declaration-completed">
            Have background checks been conducted within the last 12 months?
        </span>
        {% if fields.investorDetails.backgroundChecks === 'true' %}
            <span class="app-task-list__task-completed">
              Yes
            </span>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name__child" aria-describedby="read-declaration-completed">
                      Date of most recent checks
                    </span>
                    <span class="app-task-list__task-completed">
                      {{ fields.investorDetails.backgroundChecksDay }}
                      {{ fields.investorDetails.backgroundChecksMonth }}
                      {{ fields.investorDetails.backgroundChecksYear }}
                    </span>
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name__child" aria-describedby="read-declaration-completed">
                      Person responsible for most recent checks
                    </span>
                    <span class="app-task-list__task-completed">
                      {{ fields.investorDetails.backgroundChecksPerson }}
                    </span>
                </li>
            </ul>
        {% elif fields.investorDetails.backgroundChecks === 'false' %}
        <span class="app-task-list__task-completed">No</span>
        {% else %}
        <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">REQUIRED</strong>
        {% endif %}
    </li>

    <li class="app-task-list__item">
        <span class="description-name" aria-describedby="read-declaration-completed">
            Description
        </span>
        {% if fields.investorDetails.description %}
          <div class="description-value">
            {{ fields.investorDetails.description }}
          </div>
        {% else %}
          <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">REQUIRED</strong>
        {% endif %}
    </li>

    <li class="app-task-list__item">
        <span class="app-task-list__task-name" aria-describedby="read-declaration-completed">
            Client contact
        </span>
        {% if fields.investorDetails.clientContact %}
          <span class="app-task-list__task-completed">
            {{ fields.investorDetails.clientContact }}
          </span>
        {% else %}
          <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">REQUIRED</strong>
        {% endif %}
    </li>

    <li class="app-task-list__item">
        <span class="app-task-list__task-name" aria-describedby="read-declaration-completed">
            Client relationship manager
        </span>
        {% if fields.investorDetails.clientRelationshipManager %}
          <span class="app-task-list__task-completed">
            {{ fields.investorDetails.clientRelationshipManager }}
          </span>
        {% else %}
          <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">REQUIRED</strong>
        {% endif %}
    </li>

    <li class="app-task-list__item">
        <span class="app-task-list__task-name" aria-describedby="read-declaration-completed">
            Referral source adviser
        </span>
        {% if fields.investorDetails.referralSourceAdviser %}
          <span class="app-task-list__task-completed">
            {{ fields.investorDetails.referralSourceAdviser }}
          </span>
        {% else %}
          <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">REQUIRED</strong>
        {% endif %}
    </li>

    <li class="app-task-list__item">
        <span class="app-task-list__task-name" aria-describedby="read-declaration-completed">
            Referral source activity
        </span>
        {% if fields.investorDetails.referralSourceActivity %}
          <span class="app-task-list__task-completed">
            {{ fields.investorDetails.referralSourceActivity }}
          </span>
        {% else %}
          <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">REQUIRED</strong>
        {% endif %}
    </li>

    <li class="app-task-list__item">
        <span class="app-task-list__task-name" aria-describedby="read-declaration-completed">
            Specific Investment Programme
        </span>
        {% if fields.investorDetails.specificInvestmentProgramme %}
          <span class="app-task-list__task-completed">
            {{ fields.investorDetails.specificInvestmentProgramme }}
          </span>
        {% else %}
          <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">REQUIRED</strong>
        {% endif %}
    </li>
</ul>
