{% extends "base.njk" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "snippets.njk" import saveOrCancel %}

{% block pageTitle %}
Create project
{% endblock %}

{% block content %}

<div class="create-project">
  <img src="/assets/images/app-ip-selected.png" class="img-horizontal-app-list">
  <nav>
    <ul>
      <li><a href="/">Home</span></a></li>
      <li><a href="/investment-projects">Investment projects</a></li>
      <li><span>Create a Capital investor profile</span></li>
    </ul>
  </nav>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1>Create a Capital investor profile</h1>

      <form class="govuk-!-padding-top-5" method="post" action="{{ paths.capitalInvestment.createProject }}">

        <!-- accessible-autocomplete -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="country">Country of origin</label>
          <span class="govuk-hint">Select the country that the company or individual is based in</span>
          <div id="country"></div>
        </div>

        <!-- accessible-autocomplete -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="company">Investor name</label>
          <span class="govuk-hint">Search for the company, individual or other entity name</span>
          <div id="company"></div>
        </div>

        {{
          govukRadios({
            idPrefix: "sizeOfOpportunity",
            name: "sizeOfOpportunity",
            fieldset: {
              legend: {
                text: "Investor type",
                isPageHeading: false
              }
            },
            items: [
              {
                value: "largeCapital",
                text: "Large Capital"
              },
              {
                value: "growthCapital",
                text: "Growth Capital"
              }
            ]
          })
        }}

        {{ saveOrCancel(paths.investmentProjects) }}

      </form>
    </div>
  </div>
</div>
{% endblock %}
