{% extends "base.njk" %}

{% from "textarea/macro.njk" import govukTextarea %}
{% from "input/macro.njk" import govukInput %}
{% from "details/macro.njk" import govukDetails %}
{% from "details.njk" import details %}
{% from "singularOrPlural.njk" import singularOrPlural %}

{% block pageTitle %}
New Project
{% endblock %}

{% block content %}

<div class="ci-investor-opportunity">
  <img src="/assets/images/app-company-selected.png" class="img-horizontal-app-list">
  <nav>
    <ul>
      <li><a href="/">Home</span></a></li>
      <li><a href="/investment-projects">Investment projects</a></li>
      <li><span>{{ fields.company }} / Details</span></li>
    </ul>
  </nav>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full address">
      <h1 class="govuk-heading-l heading">{{ fields.project.company }}</h1>
      <p>Reception: 3rd floor, 5650 Yonge Street, Toronto, Ontario M2M 4H5</p>
      <span class="badge">Global HQ</span>
    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
      <img class="menu-items" src="/assets/images/menu-item-company-selected.png">
    </div>

    <div class="govuk-grid-column-three-quarters">

      <div class="expand-all">
        <a id="expand-all" href="javascript:void(0);">Expand all</a>
      </div>

      <div class="govuk-tabs" data-module="tabs">

        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#large-capital">
              Large capital
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#growth-capital">
              Growth capital
            </a>
          </li>
        </ul>

        <section class="govuk-tabs__panel" id="large-capital">

          <div class="sections">

            {% call details('Investor details', fields.investorDetails) -%}
              {% if fields.investorDetails.edit === 'true' %}
                {% include "investor-details-edit.html" %}
              {% else %}
                {% include "investor-details-read.html" %}
              {% endif %}
            {%- endcall %}

            {% call details('Client requirements', fields.clientRequirements) -%}
              {% if fields.clientRequirements.edit === 'true' %}
                {% include "client-requirements-edit.html" %}
              {% else %}
                {% include "client-requirements-read.html" %}
              {% endif %}
            {%- endcall %}

            {% call details('Location', fields.location) -%}
              {% if fields.location.edit === 'true' %}
                {% include "location-edit.html" %}
              {% else %}
                {% include "location-read.html" %}
              {% endif %}
            {%- endcall %}

          </div>
        </section>

        <section class="govuk-tabs__panel" id="growth-capital">
          <h2 class="govuk-heading-l">Growth capital</h2>
        </section>

      </div>

    </div>
  </div>
</div>
{% endblock %}
