{% macro liRenderer(title, field) %}
  {% if isEmpty(field) or isUndefined(field) %}
    {{ createIncompleteListItem(title) }}
  {% elif isString(field) %}
    {{ createListItemFromString(title, field) }}
  {% elif isArray(field) %}
    {{ createListItemFromArray(title, field) }}
  {% endif %}
{% endmacro %}

{% macro createIncompleteListItem(title) %}
  <li class="app-task-list__item">
  <span class="app-task-list__task-name" aria-describedby="todo-set-this-in-the-field">
    {{ title }}
  </span>
    <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">INCOMPLETE</strong>
  </li>
{% endmacro %}

{% macro createListItemFromString(title, str) %}
<li class="app-task-list__item item-complete">
  <span class="app-task-list__task-name" aria-describedby="todo-set-this-in-the-field">
    {{ title }}
  </span>
  <span class="app-task-list__task-completed">
    {{ str }}
  </span>
</li>
{% endmacro %}

{% macro createListItemFromArray(title, items) %}
  <li class="app-task-list__item item-complete">
  <span class="app-task-list__task-name" aria-describedby="todo-set-this-in-the-field">
    {{ title }}
  </span>
    <ul>
      {% for item in items %}
        <li>{{ item.name or item }}</li>
      {% endfor %}
    </ul>
  </li>
{% endmacro %}

{% macro liRendererBGChecks(title, backgroundChecks) %}
<li class="app-task-list__item {{ "item-complete" if backgroundChecks.value }}">
  <span class="app-task-list__task-name" aria-describedby="read-declaration-completed">
    {{ title }}
  </span>
  {% if backgroundChecks.value === 'true' %}
    <span class="app-task-list__task-completed">
      Yes
    </span>
    <ul class="app-task-list__items">
      <li class="app-task-list__item item-complete">
          <span class="app-task-list__task-name__child" aria-describedby="read-declaration-completed">
            <strong>Date of most recent checks</strong>
          </span>
          <span class="app-task-list__task-completed">
            {{ backgroundChecks.day }}
            {{ backgroundChecks.month }}
            {{ backgroundChecks.year }}
          </span>
      </li>
      <li class="app-task-list__item item-complete">
          <span class="app-task-list__task-name__child" aria-describedby="read-declaration-completed">
            <strong>Person responsible for most recent checks</strong>
          </span>
          <span class="app-task-list__task-completed">
            {{ backgroundChecks.person }}
          </span>
      </li>
    </ul>
  {% elif backgroundChecks.value === 'false' %}
    <span class="app-task-list__task-completed">
      No
    </span>
  {% else %}
    <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">INCOMPLETE</strong>
  {% endif %}
</li>
{% endmacro %}
