{% macro liRenderer(title, field) %}
  {% if isEmpty(field) or isUndefined(field) %}
    {{ createIncompleteListItem(title) }}
  {% elif isString(field) %}
    {{ createListItemFromString(title, field) }}
  {% elif isArray(field) %}
    {{ createListItemFromArray(title, field) }}
  {% endif %}
{% endmacro %}

{% macro createIncompleteListItem(title) %}
  <li class="app-task-list__item">
    <span class="app-task-list__task-name" aria-describedby="incomplete-field">
      <strong>{{ title }}</strong>
    </span>
    <span class="govuk-tag app-task-list__task-completed" id="incomplete-field">
      INCOMPLETE
    </span>
  </li>
{% endmacro %}

{% macro createListItemFromString(title, str) %}
<li class="app-task-list__item item-complete">
  <span class="app-task-list__task-name" aria-describedby="str-complete-field">
    <strong>{{ title }}</strong>
  </span>
  <span class="app-task-list__task-completed" id="str-complete-field">
    {{ str }}
  </span>
</li>
{% endmacro %}

{% macro createListItemFromArray(title, items) %}
  <li class="app-task-list__item item-complete">
    <span class="app-task-list__task-name" aria-describedby="items-complete-field">
      <strong>{{ title }}</strong>
    </span>
    <ul class="app-task-list__items" id="items-complete-field">
      {% for item in items %}
        <li>{{ item.name or item }}</li>
      {% endfor %}
    </ul>
  </li>
{% endmacro %}

{% macro liGroupRenderer(groupName, isComplete, fields) %}
  {% if isComplete %}
    <li class="app-task-list__item {{ "item-complete" if isComplete }}">
      <span class="app-task-list__task-name" aria-describedby="group-complete-field">
        <strong>{{ groupName }}</strong>
      </span>
      <ul class="app-task-list__items" id="group-complete-field">
        {% for field in fields %}
        <li>
          <span>{{ field.title }}</span>
          {% if isArray(field.value) %}
          <ul class="app-task-list__indented">
            {% for value in field.value %}
              <li>{{ value }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </li>
  {% else %}
    {{ createIncompleteListItem(groupName) }}
  {% endif %}
{% endmacro %}

{% macro liRendererBGChecks(title, backgroundChecks) %}
<li class="app-task-list__item background-checks {{ "item-complete" if backgroundChecks.value }}">
  <span class="app-task-list__task-name" aria-describedby="read-declaration-completed">
    <strong>{{ title }}</strong>
  </span>
  {% if backgroundChecks.value === 'true' %}
    <span class="app-task-list__task-completed">
      Yes
    </span>
    <ul class="app-task-list__items">
      <li class="app-task-list__item item-complete">
          <span class="app-task-list__task-name__child" aria-describedby="read-declaration-completed">
            <strong>Date of most recent background checks</strong>
          </span>
          <span class="app-task-list__task-completed">
            {{ backgroundChecks.day }}
            {{ backgroundChecks.month }}
            {{ backgroundChecks.year }}
          </span>
      </li>
      <li class="app-task-list__item item-complete">
          <span class="app-task-list__task-name__child" aria-describedby="read-declaration-completed">
            <strong>Personal responsible for most recent background checks</strong>
          </span>
          <span class="app-task-list__task-completed">
            {{ backgroundChecks.person }}
          </span>
      </li>
    </ul>
  {% elif backgroundChecks.value === 'false' %}
    <span class="app-task-list__task-completed">
      No
    </span>
  {% elif backgroundChecks.value === 'notApplicable' %}
    <span class="app-task-list__task-completed">
      N/A
    </span>
  {% else %}
    <span class="govuk-tag app-task-list__task-completed">
      INCOMPLETE
    </span>
  {% endif %}
</li>
{% endmacro %}
