{% macro appTaskListItem(title, field) %}
  <li class="app-task-list__item {{ "item-complete" if field }}">
    <span class="app-task-list__task-name" aria-describedby="todo-set-this-in-the-field">
      {{ title }}
    </span>
    {% if isArray(field) %}
    <ul>
      {% for label in field %}
        <li>{{ label }}</li>
      {% endfor %}
    </ul>
    {% elif field %}
      <span class="app-task-list__task-completed">
        {{ field }}
      </span>
    {% else %}
      <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">INCOMPLETE</strong>
    {% endif %}
  </li>
{% endmacro %}

{% macro bgChecksListItem(title, backgroundChecks) %}
<li class="app-task-list__item {{ "item-complete" if backgroundChecks.value === 'true' }} background-checks">
  <span class="app-task-list__task-name" aria-describedby="read-declaration-completed">
    {{ title }}
  </span>
  {% if backgroundChecks.value === 'true' %}
    <span class="app-task-list__task-completed">
      Yes
    </span>
    <ul class="app-task-list__items">
      <li class="app-task-list__item item-complete">
          <span class="app-task-list__task-name__child" aria-describedby="read-declaration-completed">
            <strong>Date of most recent checks</strong>
          </span>
          <span class="app-task-list__task-completed">
            {{ backgroundChecks.day }}
            {{ backgroundChecks.month }}
            {{ backgroundChecks.year }}
          </span>
      </li>
      <li class="app-task-list__item item-complete">
          <span class="app-task-list__task-name__child" aria-describedby="read-declaration-completed">
            <strong>Person responsible for most recent checks</strong>
          </span>
          <span class="app-task-list__task-completed">
            {{ backgroundChecks.person }}
          </span>
      </li>
    </ul>
  {% elif backgroundChecks.value === 'false' %}
    <span class="app-task-list__task-completed">No</span>
  {% else %}
    <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">INCOMPLETE</strong>
  {% endif %}
</li>
{% endmacro %}
