{% from "singularOrPlural.njk" import singularOrPlural %}

{% macro details(summaryText, field) %}
  <details class="govuk-details" {{ "open" if field.edit }}>
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">{{ summaryText }}</span>
    <div class="edit-button-container">
      {% if field.requiredFieldsCount === 0 %}
      <i class="fas fa-check"></i>
      <span class="complete">Complete</span>
      {% else  %}
      <span>{{ singularOrPlural(field.requiredFieldsCount, 'field') }} required</span>
      {% endif %}
    </div>
  </summary>
  <div class="govuk-details__text">
    {{ caller() }}
  </div>
  </details>
{% endmacro %}
