{% macro checkBoxes(field, question, options={}, classes) %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="some-hint">
      <legend class="govuk-fieldset__legend">
        <strong>{{ question }}</strong>
      </legend>
      <div class="govuk-checkboxes {{ classes }}" data-module="checkboxes">
        {% if caller %}
          {{ caller() }}
        {% else %}
          {% for option in options -%}
            {{ checkBox(field, option) }}
          {%- endfor %}
        {% endif %}
      </div>
    </fieldset>
  </div>
{% endmacro %}

{% macro checkBox(field, options={}) %}
  {% set option_value = options.value or options.label|lower %}
  {% set option_disabled = options.disabled or false %}
  <div class="govuk-checkboxes__item">
    <input
       class="govuk-checkboxes__input"
       type="checkbox"
       id="{{ field.id }}-{{ option_value }}"
       name="{{ field.id }}"
       {% if options.dac %}
       data-aria-controls="{{ options.dac }}"
       {% endif %}
       {% if isArray(field.value) and option_value in field.value %}
       checked="checked"
       {% endif %}
       {% if field.value == option_value %}
       checked="checked"
       {% endif %}
       {% if option_disabled %}
       disabled
       {% endif %}
       value="{{ option_value }}">
    <label for="{{ field.id }}-{{ option_value }}" class="govuk-label govuk-checkboxes__label">
      {{ options.label }}
    </label>
  </div>
{% endmacro %}

{% macro radioButtons(field, question, options={}) %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="some-hint">
      <legend class="govuk-fieldset__legend">
        <strong>{{ question }}</strong>
      </legend>
      <div class="govuk-radios">
      {% for option in options -%}
        {{ radioButton(field, option) }}
      {%- endfor %}
      </div>
    </fieldset>
  </div>
{% endmacro %}

{% macro radioButton(field, options={}) %}
  {% set option_value = options.value or options.label|lower %}
  {% set option_disabled = options.disabled or false %}
  <div class="govuk-radios__item">
    <input
        class="govuk-radios__input"
        type="radio"
        id="{{ field.id }}-{{ option_value }}"
        name="{{ field.id }}"
        {% if isArray(field.value) and option_value in field.value %}
          checked="checked"
        {% endif %}
        {% if field.value == option_value %}
          checked="checked"
        {% endif %}
        {% if option_disabled %}
          disabled
        {% endif %}
        value="{{ option_value }}">
    <label class="govuk-label govuk-radios__label" for="{{ field.id }}-{{ option_value }}">
      {{ options.label }}
    </label>
  </div>
{% endmacro %}

{% macro textArea(options) %}
  <div class="govuk-form-group">
    <label class="govuk-label" for="{{ options.id }}">
      <strong>{{ options.label }}</strong>
    </label>
    <div class="{{ options.classes }}">
      <span id="{{ options.id }}-hint" class="govuk-hint">
        {{ options.hint }}
      </span>
      <textarea class="govuk-textarea" id="{{ options.id }}" name="{{ options.name }}" rows="5" aria-describedby="{{ options.id }}-hint">{{ options.value }}</textarea>
    </div>
  </div>
{% endmacro %}
