{% extends "base.njk" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "snippets.njk" import saveOrCancel %}
{% from "fields.njk" import autoComplete %}

{% block pageTitle %}
Create profile
{% endblock %}

{% block content %}

<div class="create-profile">

  <img src="/assets/images/app-ip-selected.png" class="img-horizontal-app-list">

  <nav>
    <ul>
      <li><a href="/">Home</span></a></li>
      <li><a href="/investment-projects">Investment projects</a></li>
      <li><span>Create a Capital investor profile</span></li>
    </ul>
  </nav>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1>Create a Capital investor profile</h1>

      <form class="govuk-!-padding-top-5" method="post" action="{{ paths.cip.createProfile }}">

        {{
          autoComplete({
            id: "country",
            label: "Country of origin",
            hint: "Select the country that the company or individual is based in"
          })
        }}

        {{
          autoComplete({
            id: "company",
            label: "Investor name",
            hint: "Search for the company, individual or other entity name"
          })
        }}

        {{
          govukRadios({
            idPrefix: "sizeOfOpportunity",
            name: "sizeOfOpportunity",
            fieldset: {
              legend: {
                text: "Investor type",
                isPageHeading: false
              }
            },
            items: [
              {
                value: "largeCapital",
                text: "Large Capital"
              },
              {
                value: "growthCapital",
                text: "Growth Capital"
              }
            ]
          })
        }}

        {{ saveOrCancel(paths.investmentProjects) }}

      </form>

    </div>

  </div>

</div>
{% endblock %}
