%dh-button {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 9px;
  border: none;
  border-radius: 0;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-appearance: none;
  box-shadow: 0 2px 0 #003618;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
}

.button {
  @extend %dh-button;
  background-color: #00823b;
}

.button:hover {
  background-color: #00692f;
}

.cancel-button {
  @extend %dh-button;
  background-color: gray;
}

.cancel-button:hover {
  background-color: darkgray;
}
