.govuk-header {
  border-bottom: 0;
  .govuk-header__container {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.govuk-main-wrapper {
  padding-top: 0;
}

.heading {
  margin-top: 30px;
}

.govuk-details__summary:focus {
  outline: none !important;
  background: none !important;
}

@media (min-width: 40.0625em) {
  .js-enabled .govuk-tabs__panel {
    padding-right: 0;
    padding-left: 0;
    border: none;
    padding-top: 0;
    border-top: 0;
  }
}
