.govuk-header {
  border-bottom: 0;
  .govuk-header__container {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.govuk-main-wrapper {
  padding-top: 0;
}

.heading {
  margin-top: 30px;
}

.govuk-tag {
  padding: 2px 4px 0 4px;
  position: absolute;
  top: 13px;
  left: 140px;
}
