@import "colours";

.govuk-header {
  border-bottom: 0;
  .govuk-header__container {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.govuk-main-wrapper {
  padding-top: 0;
}

.heading {
  margin-top: 30px;
}

.govuk-details__summary:focus {
  outline: none !important;
  background: none !important;
}

.govuk-details__text {
  border-left: none;
  padding: 0;
}

.govuk-details__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 35px;
}

.govuk-details__summary-text {
  font-size: 25px;
  text-decoration: none;
}

.govuk-tag.app-task-list__task-completed {
  background-color: $investment-projects;
}

.govuk-details__summary:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  border-width: 10px 0 10px 15px;
  border-left-color: inherit;
}

.govuk-details[open] > .govuk-details__summary:before {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  border-width: 15px 10px 0 10px;
  border-top-color: inherit;
}

@media (min-width: 40em) {
  .js-enabled .govuk-tabs__panel {
    padding-right: 0;
    padding-left: 0;
    border: none;
    padding-top: 0;
    border-top: 0;
  }
}
