@mixin stackVertically {
  .investment-projects {
    .list-container {
      .header {
        flex-direction: column;
        .project-count {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
}

.investment-projects {
  .filters {
    width: 100%;
    img {
      width: inherit;
    }
  }
  .list-container {
    width: 100%;
    .header {
      display: flex;
      justify-content: space-between;
      span:first-child {
        font-size: 36px;
        font-weight: 600;
      }
      span:nth-child(2) {
        font-size: 24px;
        font-weight: 400;
        margin-left: 5px;
      }
    }
    img {
      width: inherit;
    }
  }
}

@media only screen and (max-width: 641px) {
  @include stackVertically;
}

@media only screen and (max-width: 320px) {
  @include stackVertically;
}
