@mixin leftBorder {
  border-left: 7px solid #b3b3b3;
  padding-left: 15px;
}

@mixin columnLayoutWithLeftBorder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include leftBorder;
}

.ci-investor-opportunity {

  .progress-bar {
    margin-bottom: 30px;
    width: 100%;
  }

  .menu-items {
    width: 100%;
  }

  .expand-all {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -40px;
  }

  .sections {
    display: flex;
    flex-direction: column;

    details {
      border-bottom: 2px solid lightgray;
      margin: 25px 0 0 0;
      padding: 0 0 20px 0;
      .govuk-details__text {
        margin-top: 20px;
        select {
          width: 100%;
        }
      }
      .govuk-button {
        padding: 10px 30px 6px 30px;
      }
    }

    .investor-details {
      .client-relationship-manager {
        input {
          border: 2px solid #a1a1a1;
        }
      }
      .background-checks,
      .overall-relationship-health {
        > fieldset > legend {
          font-weight: bold;
        }
        .dob,
        .person-responsible {
          label {
            font-weight: normal;
          }
        }
      }
    }

    .investor-requirements {
      .left-border {
        @include leftBorder;
      }
      .energy-and-infrastructure {
        @include columnLayoutWithLeftBorder;
        height: 400px;
      }
      .real-estate {
        @include columnLayoutWithLeftBorder;
        height: 250px;
      }
    }

    .edit-button-container {
      display: flex;
      align-items: baseline;
      span {
        color: $govuk-error-colour;
      }
      i, span.complete {
        color: green;
      }
      span.complete {
        padding-left: 10px;
      }
    }
  }

  .heading {
    margin-bottom: 0;
  }

  .badge {
    border: 2px solid rgba(11, 12, 12, 0.15);
    border-radius: 4px;
    color: inherit;
    white-space: nowrap;
    transition: 60ms;
    cursor: default;
    padding: 2px 4px;
    text-decoration: none;
    font-weight: 600;
  }

  .address {
    margin-bottom: 20px;
  }
}

@include govuk-media-query($until: tablet) {
  .investor-requirements {
    .energy-and-infrastructure {
      @include columnLayoutWithLeftBorder;
      height: 740px !important;
    }
    .real-estate {
      @include columnLayoutWithLeftBorder;
      height: 490px !important;
    }
  }
}
