@import "~govuk-frontend/all";
@import "~accessible-autocomplete/src/autocomplete.css";
@import "govuk-overrides";
@import "investment-projects";
@import "new-project";

body {
  font-family: Arial, "Helvetica Neue", sans-serif;
}

.img-horizontal-app-list {
  width: 100%;
}

nav {
  ul {
    padding-left: 0;
    li {
      display: inline;
      &:not(:first-child) {
        &:before {
          content: '>';
          padding: 0 5px;
          color: #b5b2b2;
        }
      }
    }
  }
}

.error {
  color: $govuk-error-colour;
  font-weight: bold;
}

.stack {
  color: govuk-colour("grey-2")
}

.govuk-button-discard {
  @extend .govuk-button;
  background-color: grey;
  &:focus,
  &:hover {
    background-color: #686866;
  }
}
