@import "../../../../node_modules/govuk-frontend/all";
@import "govuk-overrides";
@import "button";
@import "investment-projects";

body {
  font-family: Arial, "Helvetica Neue", sans-serif;
}

.img-horizontal-app-list {
  width: 100%;
}

nav {
  ul {
    padding-left: 0;
    li {
      display: inline;
      &:not(:first-child) {
        &:before {
          content: '>';
          padding: 0 5px;
          color: #b5b2b2;
        }
      }
    }
  }
}
