@import "~govuk-frontend/all";
@import "~accessible-autocomplete/src/autocomplete.css";
@import "govuk-overrides";
@import "investment-projects";
@import "_ci-investor-opportunity";

body {
  font-family: Arial, "Helvetica Neue", sans-serif;
}

.img-horizontal-app-list {
  width: 100%;
}

nav {
  ul {
    padding-left: 0;
    li {
      display: inline;
      &:not(:first-child) {
        &:before {
          content: '>';
          padding: 0 5px;
          color: #b5b2b2;
        }
      }
    }
  }
}

.error {
  color: $govuk-error-colour;
  font-weight: bold;
}

.stack {
  color: govuk-colour("grey-2")
}

// Task list pattern

.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  @include govuk-media-query($from: tablet) {
    min-width: 550px;
  }
}

.app-task-list__section {
  display: table;
  @include govuk-font($size:24, $weight: bold);
}

.app-task-list__section-number {
  display: table-cell;

  @include govuk-media-query($from: tablet) {
    min-width: govuk-spacing(6);
    padding-right: 0;
  }
}

.app-task-list__items {
  @include govuk-font($size: 19);
  list-style: none;
  padding-left: 0;
  margin-bottom: 5px;
}

.app-task-list__item {
  margin-bottom: 0 !important;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  @include govuk-clearfix;
  .description-name {
    font-weight: bold;
  }
}

.app-task-list__task-name {
  display: block;
  font-weight: bold;
  @include govuk-media-query($from: 450px) {
    float: left;
    width: 75%;
  }
}

.app-task-list__task-name__child {
  display: block;
  @include govuk-media-query($from: 450px) {
    float: left;
    width: 75%;
  }
}

.app-task-list__task-completed {
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  @include govuk-media-query($from: 450px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}
