{% extends "base.njk" %}

{% from "radios/macro.njk" import govukRadios %}

{% block pageTitle %}
CI Investor opportunity
{% endblock %}

{% block content %}

<div class="investment-types">
  <img src="/assets/images/horizontal-app-list.png" class="img-horizontal-app-list">
  <nav>
    <ul>
      <li><a href="/">Home</span></a></li>
      <li><a href="/investment-projects">Investment projects</a></li>
      <li><span>CI Investor opportunity</span></li>
    </ul>
  </nav>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1>CI Investor opportunity</h1>
      <h1>...</h1>
      {#
      <form class="govuk-!-padding-top-5" method="post" action="/">
        <div>
          <button type="submit" class="govuk-button-discard">Discard</button>
          <button type="submit" class="govuk-button">Save and Exit</button>
          <button type="submit" class="govuk-button">Continue</button>
        </div>
      </form>
      #}
    </div>
  </div>
</div>
{% endblock %}
