{#
  select
    field            - (required) A field object containing name, id and value
    label            - (required) The label to apply to the field
    hint             - (default = '') Extra hint text to place under the label
    hideLabel        - (default = false) Hides the selects label (for when a this element is the only field on the page)
    options          - (default = []) Options used to populate the possible answers
    options.label    - (required) The label text to display for this option
    options.value    - (default = label.lowercase()) The value to be sent on post for this option
    options.disabled - (default = false) Prevent the option from being selected
  Renders a select box with multiple options
#}
{% macro select(field,
                label,
                id,
                hint='',
                hideLabel=false,
                options=[]) %}

<div class="govuk-form-group {{ errorClass(field) }}">

  **<pre>{{ field | dump(2) }}</pre>**

  <label class="govuk-label {{ "visually-hidden" if hideLabel }}" for="{{ id }}">
    {{ label }}
    {%- if hint %}
    <span class="govuk-hint">{{ hint }}</span>
    {%- endif %}
  </label>

  {{ errorsFor(field) }}

  <select id="{{ id }}" name="{{ id }}" class="govuk-select">

    {# Default option so no option is preselected #}
    <option disabled
            {% if not field.value %}
            selected
            {% endif %}
            value style="display: none"></option>

    {% for option in options -%}
      {% set option_value = option.value or option.label|lower %}
      {% set option_disabled = option.disabled or false %}

      <option
          {% if field.value == option_value %}
          selected
          {% endif %}
          {% if option_disabled %}
          disabled
          {% endif %}
          {% if option_value %}
          value="{{ option_value }}"
          {% endif %}>{{ option.label }}</option>
    {%- endfor %}

  </select>

</div>
{% endmacro %}

{% macro errorsFor(field) -%}
  {% if field.errors %}
  {% for error in field.errors -%}
    <span class="error-message">
      {{ error | safe}}
    </span>
  {%- endfor %}
  {% endif %}
{%- endmacro %}

{% macro errorClass(field, type='group') -%}
  {% if field.errors and field.errors|length > 0 %}
    form-{{ type }}-error
  {% endif %}
{%- endmacro %}
