{% extends "base.njk" %}

{% block pageTitle %}
Investment Projects
{% endblock %}

{% block content %}
<div class="investment-projects">

  <img src="/assets/images/app-ip-selected.png" class="img-horizontal-app-list">

  <nav>
    <ul>
      <li><a href="/">Home</span></a></li>
      <li><span>Investment projects</span></li>
    </ul>
  </nav>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l heading">Investment Projects</h1>
    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <div class="filters">
        <img src="/assets/images/stage.png">
        <img src="/assets/images/country-of-origin.png">
        <img src="/assets/images/type-of-investment.png">
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <div class="list-container">
        <div class="header">
          <div class="project-count">
            <span>619</span>
            <span>projects</span>
          </div>
          <a class="govuk-button" href="/investment-types">Create Profile</a>
        </div>
        <img src="/assets/images/project-list.png">
        <img src="/assets/images/project-list-contd.png">
      </div>
    </div>

  </div>
</div>
{% endblock %}
