{% extends "base.njk" %}

{% from "textarea/macro.njk" import govukTextarea %}
{% from "input/macro.njk" import govukInput %}


{% block pageTitle %}
New Project
{% endblock %}

{% block content %}
<div class="new-project">
  <img src="/assets/images/horizontal-app-list.png" class="img-horizontal-app-list">
  <nav>
    <ul>
      <li><a href="/">Home</span></a></li>
      <li><a href="/investment-projects">Investment projects</a></li>
      <li><span>New project details</span></li>
    </ul>
  </nav>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1>New Project details</h1>
      <form method="post" action="/new-project">
        {{
          govukInput({
            label: { text: "Title" },
            id: "title",
            name: "title"
          })
        }}
        {{
          govukTextarea({
            name: "description",
            id: "description",
            label: { text: "Description" }
          })
        }}
        <div>
          <a href="/investment-projects" class="govuk-button">Cancel</a>
          <button type="submit" class="govuk-button">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
