{% extends "base.njk" %}

{% from "textarea/macro.njk" import govukTextarea %}
{% from "input/macro.njk" import govukInput %}
{% from "components.njk" import select %}

{% block pageTitle %}
Edit project
{% endblock %}

{% block content %}

<div class="new-project">
  <img src="/assets/images/horizontal-app-list.png" class="img-horizontal-app-list">
  <nav>
    <ul>
      <li><a href="/">Home</span></a></li>
      <li><a href="/investment-projects">Investment projects</a></li>
      <li><span>Project details</span></li>
    </ul>
  </nav>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1>Project details</h1>
      <form method="post" action="/project-details">

        <div class="govuk-form-group">
          <label class="govuk-label" for="title">Full name</label>
          <input class="govuk-input" value="{{fields.title}}" id="title" name="title" type="text" autocomplete="off">
        </div>

        {{
          govukTextarea({
            name: "description",
            id: "description",
            label: { text: "Description" },
            value: fields.description
          })
        }}

        {{
          select(
            fields.country,
            fields.country.label,
            options = countries
          )
        }}

        {#
        <div class="govuk-form-group">
          <label class="govuk-label" for="company">Company</label>
          <div id="company-container"></div>
        </div>
        #}

        <div>
          <a href="/investment-projects" class="govuk-button">Discard</a>
          <button type="submit" class="govuk-button">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
