{% extends "base.njk" %}

{% from "textarea/macro.njk" import govukTextarea %}
{% from "input/macro.njk" import govukInput %}
{% from "components.njk" import select %}
{% from "details/macro.njk" import govukDetails %}

{% block pageTitle %}
New Project
{% endblock %}

{% block content %}

<div class="new-project">
  <img src="/assets/images/horizontal-app-list.png" class="img-horizontal-app-list">
  <nav>
    <ul>
      <li><a href="/">Home</span></a></li>
      <li><a href="/investment-projects">Investment projects</a></li>
      <li><span>{{ fields.title }} / Details</span></li>
    </ul>
  </nav>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l heading">{{ fields.title }}</h1>
      <img class="progress-bar" src="/assets/images/progress-bar.png" />
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <img class="menu-items" src="/assets/images/menu-item.png">
    </div>
    <div class="govuk-grid-column-three-quarters">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Information needed to move to the Active stage
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="actions-to-do">
              <li><a href="">Client requirements</a></li>
              <li><a href="">Can client provide total investment value?</a></li>
              <li><a href="">Number of new jobs</a></li>
              <li><a href="">Total investment</a></li>
            </ul>
          </div>
        </details>
        <div class="description-and-edit">
          <h4 class="description">Description</h4>
          <a class="edit" href="/project-details">Edit</a>
        </div>
        <div>{{ fields.description }}</div>
        <div class="country-of-origin">
          <h4>Country of origin</h4>
          <span>{{ fields.country.value | capitalize }}</span>
        </div>
    </div>
  </div>
</div>
{% endblock %}
